name: Build Panel

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
        cache-dependency-path: panel/package-lock.json

    - name: Install dependencies
      working-directory: ./panel
      run: npm ci

    - name: Build
      working-directory: ./panel
      run: npm run build
